extends layout.pug

block vars
  -var title = 'agenda'

block title
        | Agenda
block content      
        ul
            li.fragment Introduction
            li.fragment Targeting and Testing
            li.fragment How Does Adobe Target Works            
            li.fragment Ideas for Further Lectures
