extends layout.pug

block vars
  -var title = 'introduction'

block title
        | Adobe Marketing Cloud
block content            
        ul
          li Adobe Analytics
          li.red Adobe Target
          li Adobe Social
          li Adobe Experience Manager
          li Adobe Media Optimizer
          li Adobe Campaignli 
          li Audience Manager 
          li Primetime

 
