extends layout.pug

block vars
  -var title = 'introduction'

block title
        | Clients
block content              
        img(src="img/clients.png")          
        p.quote
           a(href="https://www.adobe.com/marketing-cloud/target.html", target="_blank" )
                   | Adobe Target
 
