extends layout.pug

block vars
  -var title = 'more'

block title
        | Ideas for Next Adobe Target Lectures
block content      
        ul
            li.fragment Adobe Target Vocabulary
            li.fragment Adobe Target Demo
            li.fragment Adobe Target Advanced Scenarios
            li.fragment Our Client Real Live Cases            
