extends layout.pug

block vars
  -var title = 'targeting'

block title
        | Targeting
block content      
       img(src="img/targeting1.png")  
       p.quote
           a(href="https://helpx.adobe.com/target/how-to/understanding-testing-target.html?playlist=/ccx/v1/collection/product/target/segment/business-practitioners/explevel/beginner-adls/applaunch/get-started/collection.ccx.js?ref=helpx.adobe.com", target="_blank" )
                   | Understanding Testing and Targeting in Adobe Target       