extends layout.pug

block vars
  -var title = 'targeting'

block title
        | Testing vs Targeting
block content      
        h3 Testing
        ul
            li.fragment Show different content to different set of customers
            li.fragment Compare success metrics for each option
        
        h3.fragment Targeting
        ul
            li.fragment Provide a content which meets user expectations
            li.fragment Consistent behavior
    

