extends layout.pug

block vars
  -var title = 'targeting'

block title
        | Testing vs Targeting
block content      
        ul
          li.fragment 
           | Divide an audience into specific groups
          li.fragment 
            | An ability to vary the content for given groups
          li.fragment 
           | Measure metrics
       
        h3.fragment.red
           | Adobe Target 
    


