extends layout.pug

block vars
  -var title = 'testing'

block title
        | Testing 
block content      
        img(src="img/testing3.png")  
        p.quote
           a(href="https://helpx.adobe.com/target/how-to/understanding-testing-target.html?playlist=/ccx/v1/collection/product/target/segment/business-practitioners/explevel/beginner-adls/applaunch/get-started/collection.ccx.js?ref=helpx.adobe.com", target="_blank" )
                   | Understanding Testing and Targeting in Adobe Target