extends layout.pug 

block vars
  - var title = 'works'

block title   
        | Vocabulary    
block content
         img(src="img/how-does-it-work.png")  
         p.quote
           a(href="https://helpx.adobe.com/target/how-to/how-to-use-target.html?playlist=/ccx/v1/collection/product/target/segment/business-practitioners/explevel/beginner-adls/applaunch/get-started/collection.ccx.js?ref=helpx.adobe.com", target="_blank" )
                   |  How Adobe Target Works